<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
					  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ajout d'une compte</title>
        <link th:replace="fragments/liens :: liens">
    </head>
    <body>
    <nav th:replace="fragments/navbar :: navbar"></nav>
	    <div class="container mt-4">
	        <h1 th:text="${titre}" class="mb-3"></h1>
	        <form class="mb-3"
	        	  th:action="@{/assurance_vie/update}"  
	              th:object="${compteForm}"
	              method="post">
	              <div class="row mb-3">
	              	<div class="col-3">
	              		<label class="form-label">Numero</label>
	              		<input class="form-control" type="text" th:field="*{numero}" />
	              	</div>
	              	<div class="col-2">
	              		<label class="form-label">Solde</label>
	              		<input class="form-control" type="text" th:field="*{solde}" />
	              	</div>
	              	<div class="col-3">
	              		<label class="form-label">Client</label>
	              		<select class="form-control" th:field="*{clients}">
	              			<option th:each="client : ${crudClient.findAll()}" th:text="${client}" th:value="${client.id}"></option>
	              		</select>
	              	</div>
	              	<div class="col-1">
	              		<label class="form-label">Taux (%)</label>
	              		<input class="form-control" type="text" th:field="*{taux}" />
	              	</div>
	              	<div class="col-3">
	              		<label class="form-label">Date de fin</label>
	              		<input class="form-control" type="date" th:field="*{dateFin}" />
	              	</div>
	              </div>
	              <input type="hidden" th:field="*{id}" />
	              <input class="btn btn-primary" type="submit" value="Modifier" />
	         </form>
	         <a th:href="@{/assurance_vie/comptes}">Retour</a>
	    </div>
    </body>
</html>